@use "../../../../styles/includes.scss" as *;

.app_map {
	background: #0f173b;
	overflow: auto;

	&__container {		
		@include flexCenter;
		min-height: calc(100vh - $topBarHeight);
		min-width: 1024px;
	}

	&__box {
		position: relative;
		min-width: 1024px;
		height: 600px;
	}

	&__picture {
		position: relative;
		z-index: 2;
		pointer-events: none;
	}

	&__room {
		position: absolute;
		z-index: 1;
		background: white;
		opacity: .1;

		&:not(:hover) {
			opacity: 0;
		}
	}
}