<app-top-bar [pageText]="pageText"></app-top-bar>
<div class="app_map">
	<div class="app_map__container">
		<div class="app_map__box">
			<img class="app_map__picture" [src]="imgPath + 'map.png'" alt="Carte du manoir"/>
			@for (room of rooms; track room.route) {
				<a
					class="app_map__room"
					[routerLink]="room.route"
					[title]="room.name"
					[attr.aria-label]="room.name"
					[style]="'top:' + room.posY + '; left:' + room.posX + '; width:' + room.width + '; height:' + room.height + ';' "
				></a>
			}
		</div>
	</div>
</div>
