@use "../../../../styles/includes.scss" as *;

.app_map {
	background: #0f173b;
	overflow: auto;

	&__box {
		position: relative;
		@include flexCenter;
		min-height: calc(100vh - $topBarHeight);
		min-width: 1024px;
		height: 600px;
	}

	&__room {
		position: absolute;
		background: red;
		opacity: .3;

		&:not(:hover) {
			opacity: 0;
		}
	}
}