<app-top-bar [backLink]="'/manoir/carte'" [pageText]="pageText"></app-top-bar>
<div class="app_dining_room">
	<div class="app_dining_room__box">
		<div class="app_dining_room__clock">
			<img [src]="imgPath + 'clock.png'"/>
			<div class="app_dining_room__hand app_dining_room__hand--digits" [style]="'transform: rotate(' + digitsRotation + 'deg);'">
				<img [src]="imgPath + 'hand_digits.png'"/>
			</div>
			<div class="app_dining_room__hand app_dining_room__hand--symbols" [style]="'transform: rotate(' + symbolsRotation + 'deg);'">
				<img [src]="imgPath + 'hand_symbols.png'"/>
			</div>
			<ul class="app_dining_room__list_triggers app_dining_room__list_triggers--symbols">
				<li *ngFor="let symbol of symbols|keyvalue" [style]="'transform: rotate(' + symbol.value['rotation'] + 'deg);'">
					<button class="app_dining_room__symbol" [attr.data-val]="symbol.value['value']" (click)="setSymbolsRotation(symbol.value['rotation'])"></button>
				</li>
			</ul>
			<ul class="app_dining_room__list_triggers app_dining_room__list_triggers--digits">
				<li *ngFor="let digit of digits|keyvalue" [style]="'transform: rotate(' + digit.value['rotation'] + 'deg);'">
					<button class="app_dining_room__digit" [attr.data-val]="digit.value['value']" (click)="setDigitsRotation(digit.value['rotation'])"></button>
				</li>
			</ul>
		</div>
	</div>
</div>