<app-top-bar [backLink]="'/manoir/carte'" [pageText]="pageText"></app-top-bar>
<div class="app_dining_room">
	<div class="app_dining_room__box">
		<div class="app_dining_room__clock_wrapper">
			<img
				class="app_dining_room__clock app_dining_room__clock--digits"
				[src]="imgPath + 'clock_digits.png'"
				alt=""
			/>
			<div
				class="app_dining_room__clock app_dining_room__clock--symbols"
				[style]="'
					transform: rotate(' + (45 + symbolsClockRotation()) + 'deg);
					transition: all ' + (.3 * transitionSpeed()) + 's ease-in-out;
				'"
			>
				<img [src]="imgPath + 'clock_symbols.png'" alt=""/>
				<div class="app_dining_room__hand app_dining_room__hand--symbols" [style]="'transform: rotate(' + (symbolsRotation() - 45) + 'deg);'">
					<img [src]="imgPath + 'hand_symbols.png'" alt=""/>
				</div>
			</div>
			<div class="app_dining_room__hand app_dining_room__hand--digits" [style]="'transform: rotate(' + digitsRotation() + 'deg);'">
				<img [src]="imgPath + 'hand_digits.png'" alt=""/>
			</div>
			<ul
				class="app_dining_room__list_triggers app_dining_room__list_triggers--symbols"
				[style]="'
					transform: rotate(' + symbolsClockRotation() + 'deg);
					transition: all ' + (.3 * transitionSpeed()) + 's ease-in-out;
				'"
			>
				@for (symbol of symbols; track symbol.value) {
					<li [style]="'transform: rotate(' + symbol.rotation + 'deg);'">
						<button
							class="app_dining_room__button app_dining_room__button--symbol"
							[attr.data-val]="symbol.value"
							[attr.aria-label]="'Symbole ' + symbol.value"
							(click)="setSymbolsRotation(symbol.value)"
						></button>
						<button
							class="app_dining_room__button app_dining_room__button--rotation"
							[class.app_dining_room__button--active]="symbolsClockValue() === symbol.value"
							[attr.data-val]="symbol.value"
							[attr.aria-label]="'Tourner le cadran des symboles vers ' + symbol.value"
							(click)="setSymbolsClockRotation(symbol.value)"
						>
							<img [src]="imgPath + 'arrow.png'" alt=""/>
						</button>
					</li>
				}
			</ul>
			<ul class="app_dining_room__list_triggers app_dining_room__list_triggers--digits">
				@for (digit of digits; track digit.value) {
					<li [style]="'transform: rotate(' + digit.rotation + 'deg);'">
						<button
							class="app_dining_room__button app_dining_room__button--digit"
							[attr.data-val]="digit.value"
							[attr.aria-label]="'Chiffre ' + digit.value"
							(click)="setDigitsRotation(digit.value)"
						></button>
					</li>
				}
			</ul>
		</div>
	</div>
</div>
