<router-outlet />
<ul>
	<li><a routerLink="/manoir/carte">CARTE</a></li>
	<li><a routerLink="/manoir/atelier-d-art">ATELIER D'ART</a></li>
	<li><a routerLink="/manoir/galerie">GALERIE</a></li>
	<li><a routerLink="/manoir/salle-de-musique">SALLE DE MUSIQUE</a></li>
	<li><a routerLink="/manoir/veranda">VÉRANDA</a></li>
	<li><a routerLink="/manoir/salle-a-manger">SALLE A MANGER</a></li>
	<li><a routerLink="/manoir/bibliotheque">BIBLIOTHÈQUE</a></li>
	<li><a routerLink="/manoir/cuisine">CUISINE</a></li>
	<li><a routerLink="/manoir/salle-de-divination">SALLE DE DIVINATION</a></li>
	<li><a routerLink="/manoir/bureau">BUREAU</a></li>
</ul>