@function rem($pxValue) {
    @return calc($pxValue / 16px * 1rem);
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin absolutePos($offset: 0) {
    position: absolute;
    left: $offset;
    right: $offset;
    top: $offset;
    bottom: $offset;
}
