<button
	#toggleButton
	type="button"
	(click)="toggleModal()"
	class="app_modal__toggle webfont webfont-info"
	title="Informations de la page"
	aria-label="Informations de la page"
	aria-haspopup="dialog"
	[attr.aria-expanded]="isDisplayed()"
></button>
@if (isDisplayed()) {
	<button
		type="button"
		(click)="closeModal()"
		class="app_modal__overlay"
		aria-label="Fermer"
		tabindex="-1"
	></button>
	<div
		class="app_modal__box"
		role="dialog"
		aria-modal="true"
		[attr.aria-describedby]="descriptionId"
		tabindex="-1"
		cdkTrapFocus
		[cdkTrapFocusAutoCapture]="true"
	>
		<div class="app_modal__content rte" [id]="descriptionId" [innerHTML]="text()"></div>
	</div>
}
