<app-top-bar [backLink]="'/manoir/carte'" [pageText]="pageText"></app-top-bar>
<div class="app_music_room">
	<div class="app_music_room__organ">
		<div class="app_music_room__chords">
			@for (chord of chords; track chord.icon; let i = $index) {
				<div class="app_music_room__chord" [class]="'app_music_room__chord--' + i">
					<div class="organ_chord" [class.organ_chord--active]="activeChords().has(i)">
						<span class="organ_chord__icon webfont" [class]="'webfont-' + chord.icon"></span>
					</div>
				</div>
			}
		</div>
		<div class="app_music_room__keyboard">
			@for (keyIndex of keyIndexes; track keyIndex) {
				<div class="app_music_room__key">
					<button class="organ_key" [class.organ_key--active]="activeKeys().has(keyIndex)" (click)="keyPressed(keyIndex)">{{ keyIndex }}</button>
				</div>
			}
		</div>
		<div class="app_music_room__keyboard_front">
			@for (keyIndex of keyIndexes; track keyIndex) {
				<div class="app_music_room__key">
					<button
						type="button"
						class="organ_key_front"
						[class.organ_key_front--active]="activeKeys().has(keyIndex)"
						[attr.aria-label]="'Touche ' + keyIndex"
						(click)="keyPressed(keyIndex)"
					></button>
				</div>
			}
		</div>
	</div>
</div>
